<div class="container-fluid w-100">
  <div class="d-flex justify-content-center">
    <img class="img-fluid" src="../../../assets/immagini/draghi.png" alt="" />
  </div>
  <img src="../../../assets/immagini/montelago" alt="" />
  <img src="../../../assets/immagini/italiaingioco.jpg" alt="" />
  <img src="../../../assets/immagini/acheron.png" alt="" />
  <img src="../../../assets/immagini/20diruolo.jpg" alt="" />
  <img src="../../../assets/immagini/matrix.jpg" alt="" />
  <img src="../../../assets/immagini/centroanalisi.png" alt="" />
</div>
