<div class="container-fluid w-100">
  <div class="container">
    <h2 class="fs-1 py-5 text-center">La Gilda Picena</h2>
  </div>
  <div class="container d-flex justify-content-center flex-wrap">
    <div class="col-sm-12 col-lg-4 fs-5 pe-3">
      <p>
        Siamo ragazzi, amici, che per caso si sono ritrovati ad avere una
        passione in comune: quella per il gioco di ruolo e il gioco da tavolo.
        Siamo amici che adesso hanno un obbiettivo: creare una grande
        associazione, una community attiva, stabile e allo stesso tempo in
        continua evoluzione, che promuova il gioco di ruolo e da tavolo, in ogni
        sua forma, nel territorio del Piceno, valorizzandone la dimensione
        relazionale e la forte valenza sociale, in contrapposizione
        all’isolamento e all’alienazione associate ad altre forme moderne di
        intrattenimento.
      </p>
      <img
        class="img-fluid py-3"
        src="../../../assets/immagini/evento.png"
        alt=""
      />
    </div>
    <div class="col-sm-12 col-lg-4 fs-5 ps-3">
      <p>
        Da quattro anni ci riuniamo ogni venerdì per giocare tutti insieme a
        giochi come Dungeon and Dragons, Warhammer, Starfinder, Brancalonia, 7th
        Seas, Not the End e molti altri. Oltre al gioco cerchiamo di organizzare
        anche workshop di pittura per dare vita a miniature ed elementi scenici
        per aumentare l’esperienza immersiva delle nostre serate.
      </p>
      <p class="pt-3">
        Il nostro impegno non è focalizzato solo all’attività associativa
        interna ma anche alla collaborazione con attività commerciali del
        territorio, tramite l’organizzazione di serate a tema, eventi e
        collaborazioni con altre associazioni, sia locali che di respiro
        nazionale.
      </p>
      <img
        class="img-fluid py-3"
        src="../../../assets/immagini/miniatura.png"
        alt=""
      />
    </div>
  </div>
  <div
    id="card"
    class="container d-flex flex-wrap justify-content-center align-items-center col-sm-12 col-lg-6 my-5 text-light rounded-5 p-3"
  >
    <img
      class="col-lg-4 pe-lg-3 img-fluid"
      src="../../../assets/immagini/ioruoloacasa.png"
      alt=""
    />
    <div class="col-lg-8">
      <p class="pe-lg-3 fw-bold fs-5 py-3">
        La pandemia non ha fermato il nostro spirito di avventura!
      </p>
      <p class="pe-lg-3 py-3">
        Abbiamo tenuto viva la nostra community organizzando sessioni di gioco
        online, creando un server Discord dedicato non solo al gioco di ruolo ma
        anche ai videogames. La volontà era quella di dare ai ragazzi uno spazio
        dove poter evadere, anche se virtualmente, dalla routine casalinga
        imposta da questa situazione.
      </p>
    </div>
  </div>
  <div>
    <h3 class="fs-1 py-3 text-center justify-content-center">
      I nostri numeri
    </h3>
    <div class="container d-flex flex-wrap justify-content-center col-lg-8">
      <div
        class="col-lg-6 justify-content-center align-items-center d-flex p-3"
      >
        <p class="fs-1 fw-bold px-2">4</p>
        <p class="col-6">Anni di attività</p>
      </div>
      <div
        class="col-lg-6 justify-content-center align-items-center d-flex p-3"
      >
        <p class="fs-1 fw-bold px-2">20+</p>
        <p class="col-6">Eventi locali e nazionali</p>
      </div>
      <div
        class="col-lg-6 justify-content-center align-items-center d-flex p-3"
      >
        <p class="fs-1 fw-bold px-2">200+</p>
        <p class="col-6">
          Serate organizzate con una media di 40 persone presenti
        </p>
      </div>
      <div
        class="col-lg-6 justify-content-center align-items-center d-flex p-3"
      >
        <p class="fs-1 fw-bold px-2">200+</p>
        <p class="col-6">Persone che hanno transitato ai nostri tavoli</p>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center my-3">
    <img class="img-fluid" src="../../../assets/immagini/natale.png" alt="" />
  </div>
</div>
